<footer class="moo-footer">
  <div>
    <a href="/collections/all" >shop</a>
    <a href="/search">search</a>
    <a href="/">about</a>
  </div>
</footer>

{% schema %}
{
  "name": "Moo footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    }
  ],
  "presets": [
    {
      "name": "Moo footer"
    }
  ]
}
{% endschema %}