.weekly-picks {
  margin: 50px 0 120px;
  text-align: center;
}

.weekly-picks__header {
  text-align: center;
  font-size: 34px;
  position: relative;
  text-transform: lowercase;
  color: rgb(var(--color-foreground));
}

.weekly-picks__product-ctn {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .weekly-picks__product-ctn {
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .weekly-picks__product-ctn {
    width: 800px;
  }
}

.weekly-picks__item {
  width: 300px;
  height: 400px;
  margin: 10px auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .weekly-picks__item {
    width: 250px;
  }
}

.weekly-picks__img-wrapper {
  display: grid;
  place-items: center;
  height: 300px;
}

.weekly-picks__img-wrapper> img {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .weekly-picks__img-wrapper> img {
    width: 80%;
  }
}

.weekly-picks__item-link {
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.weekly-picks__price {
  font-size: 19px;
}

.weekly-picks__price--sale {
  color: #972020;
}

.weekly-picks__item-link > p {
  text-align: center;
}

.weekly-picks__item-link > p:nth-of-type(1) {
  margin-bottom: 5px;
  font-size: 16px;
}

.weekly-picks__item-link > :nth-of-type(2),
.weekly-picks__item-link > span  {
  font-size: 19px;
}

.weekly-picks__item-link > span:nth-of-type(1) {
  color: #972020;
}
.weekly-picks__item-link > span:nth-of-type(2) {
  text-decoration: line-through;
}

.weekly-picks__bubble {
  position: absolute;
  top: 27px;
  right: 32px;
  height: 95px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.weekly-picks__bubble > span {
  font-size: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.bubble--sale > span,
.bubble--fave > span {
  color: #fff;
}

